{% extends './base.html' %}


{% block content %}
<style>
    .bg-dark{
        background-color: #18191A !important;
    }
    body{
        background: #18191A;
    }
    .card{
        background: #242526 !important;
        color: #fff !important;
    }
    .table-condensed{
      font-size: 12px !important;
    }
</style>

{% include './navbar.html' %}

  <!-- body -->
  <div class="container py-5 mt-5">
    <div class="row justify-content-center align-item-center py-5">
        <div class="col-md-12">
          <a href="{% url 'account:add_new_profile' %}" class="btn btn-primary fw-bold w-100 rounded-pill my-3 ">Add New Profile</a>
            <div class="card">
                <h2 class="card-title text-center">All Profiles</h2>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <hr>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-condensed table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Nationality</th>
                          <th scope="col">Occupation</th>
                          <th scope="col">Date of Birth</th>
                          <th scope="col">Age</th>
                          <th scope="col">Link</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for profile in profiles %}
                        <tr>
                          <td>{{profile.name}}</td>
                          <td>{{profile.nationality}}</td>
                          <td>{{profile.occupation}}</td>
                          <td>{{profile.date_of_birth}}</td>
                          <td>{{profile.get_age}} Years</td>
                          <td>http://localhost:8000/search/result/{{profile.slug}}</td>
                          <td><a href="{% url 'account:search_result' profile.slug %}" class="btn btn-primary fw-bold text-white btn-sm" style="font-size: 11px !important;">View</a></td>
                          <td><a href="{% url 'account:edit_profile' profile.slug %}" class="btn btn-info fw-bold text-white btn-sm" style="font-size: 11px !important;">Edit</a></td>
                          <td><a href="{% url 'account:delete_profile' profile.slug %}" class="btn btn-danger fw-bold text-white btn-sm" style="font-size: 11px !important;">Delete</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}